.home{
    background-color: #313347;
    color: white;
    height: 450px;
}
.home p{
    font-size: 20px;
}
.home a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(73, 116, 245);
}
.home a:hover{
    text-decoration: underline;
}
.center-text{
    position: absolute;
    text-align: center;
    margin-top: 150px;
    width: 100%;
}
.main-content{
    display: grid;
    margin-top: 50px;
    justify-content: space-between;
    grid-template-columns: 80% 20%;
}
.left{
    display: grid;
    grid-template-columns: repeat(5,auto);
    justify-content: center;
    gap: 50px;
}
.left .card img{
    width: 220px;
}
.right{
    margin: 0 20px;
}
.genres{
    display: grid;
    grid-template-columns: repeat(3,auto);
}